
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .hero {
    background-color: #4a0982;
    width: 100%;
    height: auto;
    padding: 80px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: rgb(255, 255, 255);
  }

  .hero-left {
    width: 50%;
    height: auto;
    padding: 0 56px 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-left
  {
    margin-top: 120px;
  }

  .hero-right {
    width: 50%;
    height: auto;
    padding: 100px 100px 0 0;
    text-align: left;
  }

  .hero-right h1 {
    font-size: 34px;
    margin-left: 16px;
    padding: 0 0 26px;
    line-height: 1.05;
    letter-spacing: 0.1ch;
  }

  .hero-right span {
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 16px;
    text-align: center;
  }

  .hero-right p {
    margin-left: 16px;
    padding: 5px;
    margin-top: 10px;
    line-height: 1.5;
  }

  .golden {
    height: 48px;
    width: 240px;
    margin: 50px 15px;
    font-size: 18px;
    border-radius: 30px;
    color: #4a0982;
    background: linear-gradient(to right, #d4af37, #f3e5ab, #d4af37, #f3e5ab);
    transition: background-position 0.7s ease, transform 0.2s;
    background-position: right;
    letter-spacing: 0.2ch;
    background-size: 200%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .golden:hover {
    cursor: pointer;
    background-position: left;
  }

  #ingredients,
  #nutri-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 120px;
    margin: auto;
    color: #441775;
    border-bottom: 1px solid #441775;
    padding: 10px 0;
    transition: border-top 0.3s ease, transform 0.2s;
  }

  #ingredients:hover,
  #nutri-info:hover {
    cursor: pointer;
    border-top: 5px solid #f2d896;
  }

  .note {
    width: auto;
    margin: 50px auto;
    text-align: center;
  }

  .note p {
    font-size: 18px;
    font-style: italic;
    color: #441775;
    letter-spacing: 0.1ch;
  }

  .note span {
    font-style: normal;
    letter-spacing: normal;
  }

  .recipes {
    width: 100%;
    height: 603px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #441775;
    color: white;
  }

  .recipe-left {
    width: 533px;
    height: 443px;
    padding: 0 40px;
    margin: 0 170px;
  }

  .recipe-left h1 {
    font-size: 52px;
    margin-top: 10px;
  }

  .recipesSpan {
    color: gold;
    font-size: 24px;
    padding: 2px 0;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
    letter-spacing: 0.1ch;
  }

  .recipe-right img {
    margin-top: 3px;
    max-width: 100%;
    /* height: auto; */
  }

  .discover-rec {
    height: 600px;
    background: url("assets/coco-beans.webp") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sub-rec {
    width: 473px;
    text-align: center;
  }

  .sub-rec h1 {
    font-size: 52px;
    color: white;
    letter-spacing: 0.1ch;
    margin-top: 10px;
  }

  .sub-rec p {
    color: white;
    font-size: 16px;
    letter-spacing: 0.05ch;
    padding: 15px;
  }

  .sub-rec button {
    width: 350px;
    margin: 10px;
  }

  /* Responsive Styles */
  @media (min-width: 584px) and (max-width: 933px) {
    .hero {
      flex-direction: column;
      height: auto;
      padding: 40px 0;
    }
  
    .hero-left,
    .hero-right {
      width: 90%;
      padding: 20px;
      text-align: center;
    }
    .hero-left img
    {
      margin-left: 100px;
    }
    .hero-right h1 {
      font-size: 30px;
      margin-left: 50px;
    }
  
    .hero-right p {
      text-align: center;
      margin-left: 50px;
    }
  
    .golden {
      width: 70%;
      font-size: 16px;
      margin-left: 150px;
    }
  
    #ingredients,
    #nutri-info {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 20px auto;
      padding: 10px;
    }
  
    .recipes {
      flex-direction: column;
      height: auto;
      padding: 30px 0;
    }
    .golden1
    {
      margin-left: 75px;
    }
  
    .recipe-left {
      width: 90%;
      margin: 20px auto;
      text-align: center;
    }
  
    .recipe-left h1 {
      font-size: 36px;
    }
  
    .recipe-right img {
      width: 100%;
      /* height: auto; */
    }
  
    .discover-rec {
      height: auto;
      padding: 40px 20px;
      text-align: center;
    }
  
    .sub-rec {
      width: 90%;
    }
  
    .sub-rec h1 {
      font-size: 36px;
    }
  
    .sub-rec button {
      width: 80%;
      margin: 20px auto;
    }
  }
  
  
  @media (max-width: 584px) {
    .hero {
      flex-direction: column;
      height: auto;
      padding: 20px 0;
      text-align: center;
    }
  
    .hero-left,
    .hero-right {
      width: 90%;
      padding: 20px;
      text-align: center;
    }
  
    .hero-left img {
      max-width: 100%;
      margin-left: 50px;
      height: auto;
    }
  
    .hero-right h1 {
      font-size: 24px;
      line-height: 1.2;
      margin-left: 25px;
    }
  
    .hero-right span {
      font-size: 14px;
      margin-left: 25px;
      display: inline-block;
      margin: 10px 0;
    }
  
    .hero-right p {
      font-size: 14px;
      margin-left: 25px;
      line-height: 1.4;
      margin-top: 15px;
    }
  
    .golden {
      width: 90%;
      font-size: 16px;
      margin: 20px auto;
    }
  
    #ingredients,
    #nutri-info {
      width: 90%;
      height: auto;
      margin: 15px auto;
      padding: 10px;
      flex-direction: column;
      text-align: center;
    }
  
    #ingredients h2,
    #nutri-info h2 {
      font-size: 18px;
    }
  
    .recipes {
      flex-direction: column;
      height: auto;
      padding: 20px 0;
    }
  
    .recipe-left,
    .recipe-right {
      width: 90%;
      margin: 10px auto;
      text-align: center;
    }
  
    .recipe-left h1 {
      font-size: 28px;
      margin-bottom: 10px;
    }
  
    .recipe-left p {
      font-size: 14px;
    }
  
    .recipe-right img {
      width: 100%;
      /* height: auto; */
    }
  
    .discover-rec {
      height: auto;
      padding: 20px;
      text-align: center;
    }
  
    .sub-rec {
      width: 90%;
    }
  
    .sub-rec h1 {
      font-size: 28px;
      line-height: 1.2;
    }
  
    .sub-rec p {
      font-size: 14px;
      margin-top: 10px;
    }
  
    .sub-rec button {
      width: 90%;
      font-size: 16px;
      margin: 20px auto;
    }
  }
  



/* Section 2 */

.discover-like {
  background: url("assets/back-wall.webp");
  width: 100%;
  height: 619px;
  margin-top: 100px;
}
#dl-heading {
  font-size: 45px;
  text-align: center;
  color: #4a0982;
}
.cards-container {
  overflow-x: auto; /* Enables horizontal scrolling */
  display: flex;
  overflow-y: hidden;
  padding: 10px 0;
  margin-top: 20px; 
  scrollbar-color: #4a0982 #fff;
}

.cards {
  display: flex;
  flex-wrap: nowrap; 
  gap: 20px; 
  padding-left: 10px; 
}

#card {
  width: 296px;
  height: 387px;
  background: linear-gradient(to bottom, #e5daed 50%, #4a0982 50%);
  border-radius: 15px;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: space-between;
}
#card:hover {
  transform: scale(1.05); 
  box-shadow: 6px 12px 30px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#card .top-head {
  color: #441775;
  background-color: #ebc373;
  font-size: 12px;
  margin: 10px;
  width: 130px;
  padding: 2px;
  border-radius: 7px;
  text-align: center;
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.description {
  font-size: 24px;
  color: white;
  padding-top: 20px;
  text-align: center;
}
#card {
  display: inline-block;
  margin: 0 0.5rem;
  animation: backInUp; 
  animation-duration: 3s;
}
